body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#ruffle {
    width: 100%;
    height: 100vh; /* 100% da altura da visualização */
    display: flex;
    align-items: center;
    justify-content: center;
}

#playbutton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
}

.gameloc {
    width: 100%;
    max-width: 1200px; /* Ajustado para desktops maiores */
    aspect-ratio: 16 / 9; /* Ajuste conforme necessário */
    margin: 0 auto;
}

@media (max-width: 600px) {
    #playbutton {
        width: 80%;
        font-size: 14px;
    }

    .gameloc {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1024px) {
    .gameloc {
        width: 100%;
        max-width: 1200px;
        aspect-ratio: 16 / 9;
        margin: 0 auto;
    }
}
