body {
    background-image: url("images_src/football_img.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#playbutton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
}

.gameloc {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 4 / 3;
    margin: 0 auto;
}

@media (max-width: 600px) {
    #playbutton {
        width: 80%;
        font-size: 14px;
    }

    .gameloc {
        width: 100%;
        height: auto;
    }
}

@media (orientation: landscape) {
    .gameloc {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
}
